@model XTraTechWeb.Models.SearchModel
@{
    ViewBag.Title = "Index";
}
<section id="content" class="image-bg1">
    <div class="container">
        @if (!ViewBag.IsClientProfileComplete)
        {
            <div class="row">
                <div class="col-sms-12 col-md-12">
                    <div class="alert alert-notice">
                        Client profile is not complete. Please  @Html.ActionLink(" CLICK HERE ", "Index", "Registration", new { ClientId = ViewBag.ClientId }, new { @class = "skin-color" }) to complete client profile details!..
                        <span class="close"></span>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div id="main" class="col-sms-12 col-md-12">
                <div class="search-box-wrapper style1">
                    <div class="search-box">
                        <ul class="search-tabs clearfix">
                            <li class="active"><a href="#flights-tab" data-toggle="tab"><i class="soap-icon-plane-right takeoff-effect"></i>FLIGHTS</a></li>
                            <li><a href="#hotels-tab" data-toggle="tab"><i class="soap-icon-hotel"></i>HOTELS</a></li>
                            <li><a href="#flight-and-hotel-tab" data-toggle="tab"><i class="soap-icon-flight-hotel"></i>FLIGHT &amp; HOTELS</a></li>
                            <li><a href="#cars-tab" data-toggle="tab"><i class="soap-icon-car"></i>CARS</a></li>
                            <li><a href="#flight-status-tab" data-toggle="tab"><i class="soap-icon-status"></i>FLIGHT STATUS</a></li>
                        </ul>
                        <div class="visible-mobile">
                            <ul id="mobile-search-tabs" class="search-tabs clearfix">
                                <li class="active"><a href="#flights-tab">FLIGHTS</a></li>
                                <li><a href="#hotels-tab">HOTELS</a></li>
                                <li><a href="#flight-and-hotel-tab">FLIGHT &amp; HOTELS</a></li>
                                <li><a href="#cars-tab">CARS</a></li>
                                <li><a href="#flight-status-tab">FLIGHT STATUS</a></li>
                            </ul>
                        </div>

                        <div class="search-tab-content">
                            <div class="tab-pane fade" id="hotels-tab">
                                <form action="http://www.soaptheme.net/html/BookeTickets/hotel-list-view.html" method="post">
                                    <div class="title-container">
                                        <h2 class="search-title">Search and Book Hotels</h2>
                                        @*<p>We're bringing you a new level of comfort.</p>*@
                                        <i class="soap-icon-hotel"></i>
                                    </div>
                                    <div class="search-content">
                                        <label>Your Destination</label>
                                        <input type="text" class="input-text full-width" placeholder="enter a destination or hotel name" />
                                        <hr>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Check In</label>
                                                <div class="datepicker-wrap dark-blue">
                                                    <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Check Out</label>
                                                <div class="datepicker-wrap dark-blue">
                                                    <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <label>ROOMS</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <label>ADULTS</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <label>CHILDREN</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <button type="submit" class="full-width uppercase sea-blue">Proceed To Result</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade active in" id="flights-tab">
                                @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { id = "Airsearch" }))
                                {
                                <div class="title-container">
                                    <h2 class="search-title">Search and Book Flights</h2>
                                    @*<p>We're bringing you a new level of comfort.</p>*@
                                    <i class="soap-icon-plane-right takeoff-effect"></i>
                                </div>
                                <div class="search-content">
                                    <div class="row choose-travel">
                                        <div class="col-xs-4">
                                            <label class="radio radio-inline">
                                                @Html.RadioButtonFor(m => m.JourneyType, "Return", new { @class = "choose-travel return", @checked = "checked" })
                                                @*<input type="radio" name="choose-travel" checked="checked" value="1">*@Round Trip
                                            </label>
                                        </div>
                                        <div class="col-xs-4">
                                            <label class="radio radio-inline">
                                                @Html.RadioButtonFor(m => m.JourneyType, "OneWay", new { @class = "choose-travel oneway" })
                                                @*<input type="radio" name="choose-travel" value="2">*@Oneway
                                            </label>
                                        </div>
                                        <div class="col-xs-4">
                                            <label class="radio radio-inline">
                                                @Html.RadioButtonFor(m => m.JourneyType, "MultiDestination", new { @class = "choose-travel multi" })
                                                @*<input type="radio" name="choose-travel" value="3">*@Multi-city
                                            </label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row cloned">
                                        <div class="col-md-3">
                                            <label>Leaving From</label>
                                            @Html.TextBoxFor(m => m.CityPares[3].Origin, new { @class = "validate[required] input-text full-width", @placeholder = "enter your location", value = "", autocomplete = "off", data_autocomplete = Url.Action("AirportList", "Search") })
                                            @*<input type="text" class="input-text full-width" placeholder="enter your location" data-provide="typeahead" />*@
                                        </div>
                                        <div class="col-md-3">
                                            <label>Depart Date</label>
                                            <div class="datepicker-wrap dark-blue">
                                                @Html.TextBoxFor(m => m.CityPares[3].DepartureDateTime, new { @class = "validate[required] input-text full-width", @placeholder = "select date" })
                                                @*<input type="text" class="input-text full-width" placeholder="select date" />*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Going To</label>
                                            @Html.TextBoxFor(m => m.CityPares[3].Destination, new { @class = "validate[required] input-text full-width destination", @placeholder = "enter a destination", value = "", autocomplete = "off", data_autocomplete = Url.Action("AirportList", "Search") })
                                            @*<input type="text" class="input-text full-width" placeholder="enter a destination" />*@
                                        </div>
                                        <div class="col-md-3 toggler_one">
                                            <label>Return Date</label>
                                            <div class="datepicker-wrap dark-blue">
                                                @Html.TextBoxFor(m => m.CityPares[3].ReturnDateTime, new { @class = "validate[required] input-text full-width", @placeholder = "select date" })
                                                @*<input type="text" class="input-text full-width" placeholder="select date" />*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Leaving From</label>
                                            @Html.TextBoxFor(m => m.CityPares[0].Origin, new { @class = "validate[required] input-text full-width", @placeholder = "enter your location", value = "", autocomplete = "off", data_autocomplete = Url.Action("AirportList", "Search") })
                                            @*<input type="text" class="input-text full-width" placeholder="enter your location" data-provide="typeahead" />*@
                                        </div>
                                        <div class="col-md-3">
                                            <label>Depart Date</label>
                                            <div class="datepicker-wrap dark-blue">
                                                @Html.TextBoxFor(m => m.CityPares[0].DepartureDateTime, new { @class = "validate[required] input-text full-width", @placeholder = "select date" })
                                                @*<input type="text" class="input-text full-width" placeholder="select date" />*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Going To</label>
                                            @Html.TextBoxFor(m => m.CityPares[0].Destination, new { @class = "validate[required] input-text full-width destination", @placeholder = "enter a destination", value = "", autocomplete = "off", data_autocomplete = Url.Action("AirportList", "Search") })
                                            @*<input type="text" class="input-text full-width" placeholder="enter a destination" />*@
                                        </div>
                                        <div class="col-md-3 toggler_one">
                                            <label>Return Date</label>
                                            <div class="datepicker-wrap dark-blue">
                                                @Html.TextBoxFor(m => m.CityPares[0].ReturnDateTime, new { @class = "validate[required] input-text full-width", @placeholder = "select date" })
                                                @*<input type="text" class="input-text full-width" placeholder="select date" />*@
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label>Adults</label>
                                            <div class="selector">
                                                @Html.DropDownListFor(m => m.AdultCount, Model.AdultList)
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Children</label>
                                            <div class="selector">
                                                @Html.DropDownListFor(m => m.ChildCount, Model.ChildList)
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Infants</label>
                                            <div class="selector">
                                                @Html.DropDownListFor(m => m.InfantCount, Model.InfantList)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Class of travel</label>
                                            <div class="selector">
                                                @Html.DropDownListFor(m => m.CabinClass, Model.CabinClassList)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Preferred Airline</label>
                                            <div class="selector">
                                                <select>
                                                    <option value="">select name</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="submit" class="btn full-width btn-medium sea-blue" onclick="return loader()">PROCEED TO RESULT</button>
                                </div>
                                }
                            </div>
                            <div class="tab-pane fade" id="flight-and-hotel-tab">
                                <form action="http://www.soaptheme.net/html/BookeTickets/flight-list-view.html" method="post">
                                    <div class="title-container">
                                        <h2 class="search-title">Search and Book Flight &amp; Hotels</h2>
                                        @*<p>We're bringing you a new level of comfort.</p>*@
                                        <i class="soap-icon-flight-hotel"></i>
                                    </div>
                                    <div class="search-content">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Leaving From</label>
                                                <input type="text" class="input-text full-width" placeholder="enter your location" />
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Going To</label>
                                                <input type="text" class="input-text full-width" placeholder="enter a destination" />
                                            </div>
                                        </div>
                                        <hr>
                                        <label>Departing On</label>
                                        <div class="row">
                                            <div class="col-xs-6 col-md-5">
                                                <div class="datepicker-wrap dark-blue">
                                                    <input type="text" class="input-text full-width" placeholder="select date" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-5">
                                                <div class="selector">
                                                    <select>
                                                        <option value="">select date</option>
                                                        <option value="1">anytime</option>
                                                        <option value="2">morning</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <label>Arriving On</label>
                                        <div class="row">
                                            <div class="col-xs-6 col-md-5">
                                                <div class="datepicker-wrap dark-blue">
                                                    <input type="text" class="input-text full-width" placeholder="select date" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-5">
                                                <div class="selector">
                                                    <select>
                                                        <option value="">select date</option>
                                                        <option value="1">anytime</option>
                                                        <option value="2">morning</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-xs-4 col-md-3">
                                                <label>Adults</label>
                                                <div class="selector">
                                                    <select>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-md-3">
                                                <label>Children</label>
                                                <div class="selector">
                                                    <select>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-md-3">
                                                <label>Infants</label>
                                                <div class="selector">
                                                    <select>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <h5 class="title">Class <small>(Optional)</small></h5>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Class of travel</label>
                                                <div class="selector">
                                                    <select>
                                                        <option value="">Economy</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Preferred Airline</label>
                                                <div class="selector">
                                                    <select>
                                                        <option value="">select name</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <button type="submit" class="full-width btn-medium sea-blue">PROCEED TO RESULT</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="cars-tab">
                                <form action="http://www.soaptheme.net/html/BookeTickets/car-list-view.html" method="post">
                                    <div class="title-container">
                                        <h2 class="search-title">Search Cars</h2>
                                        @*<p>We're bringing you a new level of comfort.</p>*@
                                        <i class="soap-icon-car"></i>
                                    </div>
                                    <div class="search-content">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Pick Up</label>
                                                <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot" />
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Drop Off</label>
                                                <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot" />
                                            </div>
                                        </div>
                                        <hr>
                                        <label>Pick-Up Date / Time</label>
                                        <div class="form-group row">
                                            <div class="col-xs-6">
                                                <div class="datepicker-wrap dark-blue">
                                                    <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">anytime</option>
                                                        <option value="2">morning</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <label>Drop-Off Date / Time</label>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="datepicker-wrap dark-blue">
                                                    <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">anytime</option>
                                                        <option value="2">morning</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label>Adults</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>Children</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Promo Code</label>
                                                <input type="text" class="input-text full-width" placeholder="type here" />
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Car Type</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="">select a car type</option>
                                                        <option value="economy">Economy</option>
                                                        <option value="compact">Compact</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <button type="submit" class="full-width sea-blue">PROCEED TO RESULT</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="flight-status-tab">
                                <form action="http://www.soaptheme.net/html/BookeTickets/flight-list-view.html" method="post">
                                    <div class="title-container">
                                        <h2 class="search-title">Flight Status</h2>
                                        @*<p>We're bringing you a new level of comfort.</p>*@
                                        <i class="soap-icon-status"></i>
                                    </div>
                                    <div class="search-content">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Leaving From</label>
                                                <input type="text" class="input-text full-width" placeholder="enter a city or place name" />
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Going To</label>
                                                <input type="text" class="input-text full-width" placeholder="enter a city or place name" />
                                            </div>
                                        </div>
                                        <hr>
                                        <label>Departure Date</label>
                                        <div class="datepicker-wrap dark-blue">
                                            <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                        </div>
                                        <hr>
                                        <label>Flight Number</label>
                                        <input type="text" class="input-text full-width" placeholder="enter flight number" />
                                        <hr>
                                        <button type="submit" class="full-width sea-blue">PROCEED TO RESULT</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sms-6 col-md-6">
                <div class="BookeTickets-box contact-box">
                    <h4>Need Help?</h4>
                    <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-XXXX</span>
                        <br>
                        <a class="contact-email" href="#">assist@booketickets.com</a>
                    </address>
                </div>
            </div>
            <div class="col-sms-6 col-md-6">
                <div class="BookeTickets-box book-with-us-box">
                    <h4>Why Book with us?</h4>
                    <ul>
                        <li>
                            <i class="soap-icon-plane-right takeoff-effect circle"></i>
                            <h5 class="title"><a href="#">800+ airlines</a></h5>
                            <p>Fare results of Legacy and Low Cost Carriers.</p>
                        </li>
                        <li>
                            <i class="soap-icon-hotel-1 circle"></i>
                            <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                        <li>
                            <i class="soap-icon-savings circle"></i>
                            <h5 class="title"><a href="#">Low Rates &amp; Savings Up to 40%</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                        <li>
                            <i class="soap-icon-support circle"></i>
                            <h5 class="title"><a href="#">Dedicated Support</a></h5>
                            <p>24 hours a day 7 days a week support desk.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

